<p id="notice"><%= notice %></p>

<h1>Listing Chunk Walls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chunk_walls.each do |chunk_wall| %>
      <tr>
        <td><%= chunk_wall.title %></td>
        <td><%= link_to 'Show', chunk_wall %></td>
        <td><%= link_to 'Edit', edit_chunk_wall_path(chunk_wall) %></td>
        <td><%= link_to 'Destroy', chunk_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chunk wall', new_chunk_wall_path %>
