<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chunk.title %>
</p>

<p>
  <strong>Textfield:</strong>
  <%= @chunk.textfield %>
</p>

<%= link_to 'Edit', edit_chunk_path(@chunk) %> |
<%= link_to 'Back', chunks_path %>
